:root {
    --header-height: 30vh;
    --min-header-height: 200px;
    --nav-height: 70px;

    --transition-duration: 0.3s;

    --font-family: Helvetica;

    --text-font-size: 1rem;
    --subheader-font-size: 2.5rem;
    --header-font-size: 4.5rem;

    /* 
    Highlight colors:
    #CC2936 (Red),
    #2B9720 (Green),
    #6592b8 (Blue)
    #FA9500 (Orange)
    */
    --highlight-color: #FA9500;
}

/* Universal classes */
* {
    font-size: 14px;
    font-family: var(--font-family);
    letter-spacing: 0.005em;
    line-height: 1.6;
    color: #333333;
}

body {
    overflow-x: hidden;
}

/* Header */
header {
    height: var(--header-height);
    min-height: var(--min-header-height) !important;
}

header .background {
    height: 100%;

    background-image: url(/images/Homepage\ Background_2.JPG);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header .foreground {
    margin-top: calc(max(var(--header-height), var(--min-header-height)) * -1);
}

header .foreground .title {
    text-align: center;
    margin: 0;
    margin-top: min(10%, 10vh);

    color: #ffffff;
    font-size: var(--header-font-size);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

/* Nav bar */
nav {
    position: sticky;
    top: 0;
    margin-top: calc(var(--nav-height) * -1);

    height: var(--nav-height);

    background: #33333300;
    transition-duration: var(--transition-duration);
    
    z-index: 100;
}

nav.overlay {
    background: #333333;
}

nav ul {
    display: block;
    padding: 0;
    margin: auto;
    padding-top: 17px;

    width: fit-content;

    list-style: none;
}

nav li {
    height: fit-content;
    display: inline-block;
}

nav a p {
    margin: 0;
    padding: 10px 20px;

    color: #eeeeee;
    font-size: 14px;
    font-weight: bold;

    transition-duration: var(--transition-duration);
}

nav a:hover {
    text-decoration: none;
}

nav a:hover p {
    color: #ffffff;
}

nav a img {
    display: none;
}

/* Latest book */
.latest {
    padding: 50px 0;
    background-color: #ffffff;
}

.latest .left {
    max-height: min-content;
    overflow: hidden;
}

.latest .right {
    max-height: min-content !important;
}

.latest .right h1 {
    color: #333333;
    font-weight: bold;
    font-size: var(--subheader-font-size);
}

.latest .right p {
    color: #50514f;
    font-weight: normal;
    font-size: var(--text-font-size);
}

.latest .right .primary {
    background-color: var(--highlight-color);
    border: var(--highlight-color) 2px solid;
    color: #eeeeee;

    margin-right: 20px;
}

.latest .right .primary:hover {
    color: #ffffff;
}

.latest .right .secondary {
    background-color: #ffffff;
    border: var(--highlight-color) 2px solid;
    color: #50514f;
}

.latest .right .secondary:hover {
    color: #333333;
}

/* Other works */
.others {
    padding-top: 50px;     
    background: #eeeeee;
}

.others .title {
    padding: 0 20px;
    font-size: var(--subheader-font-size);
    font-weight: bold;
    color: #333333;
}


.others .row .container {
    padding: 20px;
}

.others h1 {
    margin: 0;

    font-size: var(--subheader-font-size);
    color: #333333;
}

.others .primary h1 {
    margin-top: 10px;
}

.others i {
    position: relative;
    top: 0px;
    font-size: var(--text-font-size);
    color: #50514f;
}

.others p {
    margin-top: 8px;
    margin-bottom: 5px;

    font-size: var(--text-font-size);
    color: #50514f;
}

.others a {
    color: var(--highlight-color);
}

.others a:hover {
    text-decoration: none;
}

.others .img-container {
    overflow: hidden;
}

.others img {
    transition-duration: var(--transition-duration);
}

.others img:hover {
    transform: scale(1.1, 1.1);
}

/* News */
.news {
    padding: 50px 0;
}

.news .container {
    padding: 0 20px;
}

.news .title {
    font-size: var(--subheader-font-size);
    font-weight: bold;
    color: #333333;

    margin-bottom: 20px;
}

.news .row h1 {
    font-size: var(--subheader-font-size);
    color: #333333;
}

.news i {
    position: relative;
    top: -8px;
    font-size: var(--text-font-size);
    color: #50514f;
}

.news p {
    margin-top: 8px;
    margin-bottom: 5px;

    font-size: var(--text-font-size);
    color: #50514f;
}

.news a {
    color: var(--highlight-color);
}

.news a:hover {
    text-decoration: none;
}

/* Footer */
footer {
    padding: 20px;
    background: #333333;

    z-index: 100;
}

footer .social-links {
    margin: auto;
    width: fit-content;
}

footer img {
    width: 40px;
    height: auto;

    margin-right: 20px;
}

footer img:hover {
    cursor: pointer;
}

footer .email {
    font-size: 1.2rem;
}

footer .button {
    background-color: var(--highlight-color);
    border: var(--highlight-color) 2px solid;
    color: #ffffff !important;

    margin-left: 20px;

    padding: 5px 10px;
    border-radius: 0.25em;
}

footer .button  img {
    height: 100%;
    margin: 0;
    margin-left: -5px;
}

footer .button:hover {
    text-decoration: none;
}

footer .footer-copyright {
    color: #ffffff;
    font-size: 1.2rem;
}

footer .footer-copyright a {
    color: var(--highlight-color);
    font-size: 1.2rem;
}

footer .footer-copyright a:hover {
    text-decoration: none;
}

/* Global transitions */
.hvr-icon-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: var(--transition-duration);
    transition-duration: var(--transition-duration);
}

.hvr-icon-forward .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: var(--transition-duration);
    transition-duration: var(--transition-duration);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: var(--highlight-color);
    height: 3px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: var(--transition-duration);;
    transition-duration: var(--transition-duration);;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}

.come-in {
    transform: translateY(50px);
    animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
    animation-duration: 0.6s; /* So they look staggered */
}
  
@keyframes come-in {
    to { transform: translateY(0); }
}

.already-visible {
    transform: translateY(0);
    animation: none;
}

#magic-line { position: absolute; bottom: 22px; left: 0; width: 100px; height: 2px; background: var(--highlight-color); }